:root {
    --primary: #5145ff;
    --primary-hover: #9892ff;
    --primary-active: #5049ce;
    --secondary: #f5f5f5;
    --br-sm: 0.25rem;
    --br-md: 0.5rem;
    --br-lg: 1rem;
    --br-xl: 2rem;
    --br-xxl: 4rem;
    --br-full: 999px;
}

.text-primary {
    color: var(--primary) !important;
}

.text-secondary {
    color: var(--t-subtitle) !important;
}

.bg-primary {
    background-color: var(--primary);
}

h1, h2, h3, h4, h5, h6 {
    color: var(--t-header);
}

h1, h2, h3 {
    letter-spacing: -0.05em;
}

h4, h5, h6 {
    letter-spacing: -0.02em;
}

p, li {
    color: var(--t-content);
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn i {
    font-size: 16px;
    margin-right: 0.25rem;
    /* Make a smooth cubic-bezier transition */
    transition: transform 0.5s cubic-bezier(0.85, 0.04, 0.2, 0.95), margin-right 0.5s cubic-bezier(0.85, 0.04, 0.2, 0.95);
}

.btn:hover i {
    transform: rotate(15deg);
    margin-right: 0.5rem;
}

.btn-primary {
    background-color: var(--primary);
    border-color: var(--primary);
    color: var(--secondary);
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    background-color: var(--primary-active) !important;
    border-color: var(--primary-active) !important;
}

:root {
    --background: #0a0a11;
    --layer-1: #1e1e24;
    --layer-2: #2b2b35;
    --layer-3: #26262e;
    --layer-4: #3b3b47;
    --border-layer-1: #2a2a33;
    --border-layer-2: #404052;
    --border-layer-3: #383841;
    --border-layer-4: #4d4d5a;
    --t-header: #fff;
    --t-subtitle: #d8d7f0;
    --t-content: #bdbcd6;
    --t-less-contrast: #626370;
}

body {
    font-family: 'Sora', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: var(--background);
}

a {
    color: var(--primary);
    text-decoration: none;
}

a:hover {
    color: var(--primary-hover);
}
.navbar {
    position: fixed;
    z-index: 1000;
    bottom: 25px;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: fit-content;
    background-color: #1e1e24c4;
    border: 1px solid #3d3d46;
    backdrop-filter: blur(99px);
    border-radius: var(--br-md);
    padding: 0.25rem !important;
}
.navbar-links {
    height: max-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
    border-radius: var(--br-md);
    height: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
}

.nav-link {
    color: var(--t-header);
    border-radius: var(--br-md);
    border: 1px solid var(--border-layer-3);
    background-color: var(--layer-3);
    height: 100%;
}

.nav-link i {
    font-size: 20px;
    margin: 0;
}

.nav-link:hover i {
    transform: none;
    margin-right: 0;
}

.nav-link:hover {
    background-color: var(--layer-4);
    border: 1px solid var(--border-layer-4);
    color: var(--secondary);
}

.nav-item {
    width: 48px;
    height: 48px;
}

.background {
    background-image: url('../content/Slide\ 16_9\ -\ 5.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.avatar {
    width: 150px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 2px solid var(--primary);
    background-color: var(--primary);
    background-image: url('../content/IMG_20231003_140317_489.jpg');
    background-size: cover;
    background-position: center;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(0%);
    }
    50% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0%);
    }
}

.alert-info {
    background-color: #1e1e24;
    color: var(--t-header);
    border: 1px solid #3d3d46;
    border-radius: var(--br-md);
    padding: 1rem;
    display: flex;
    align-items: center;
}